.form {
    background-color: lightsteelblue;
    width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

.form > h4 {
    margin: 10px 0;
}

/* inputs text */
.form__form input:not([type=checkbox]),
.form__families > select {
    border: none;
    width: 100%;
    height: 25px;
    margin: 3px 0;
    padding: 2px;
    border-radius: 5px;
}

.form__form > label {
    display: block;
}

.form__families {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__families > select {
    width:50%;
    font-size: 12pt;    
}

.form__families > select > option {
    font-size: 12pt;
}

.form__families__buttons {
    /* border: 1px solid black; */
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: space-around; /* (display:flex) */
    align-items: center; /* (display:flex) */
}

.form__families__buttons > button {
    width: 40px;
    height: 35px;
    padding-top: 3px; /* img center */
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 3px black;    
    cursor: pointer;   
}

.form__families__buttons > button:nth-child(1) {
    background-color: lightgreen;
}

.form__families__buttons > button:nth-child(2) {
    background-color: dodgerblue;
}

.form__families__buttons > button:nth-child(3) {
    background-color: salmon;
}

.form__form input[type=checkbox] {
    margin: 5px;
}

.form__form label {
    display: inline;
}

.form__section-pass {
    display: none;
}

/* guardar unico o eliminar aparejado de cancel */
.form__form input[type=submit],
.form__buttons button:first-child {
    background-color: blue;    
    color: white;
    height: 35px;
    font-size: 12pt;
    /* margin-top: 10px; */
}

/* submit unico sin boton 'cancelar' al costado */
.form__form > input[type=submit] {
    margin-top: 10px;
}

.form__form input[type=submit]:hover {
    cursor: pointer;
}

/* width 100% */
.form__buttons {
    /* background-color: silver; */
    margin-top: 10px;
    display: flex;
    justify-content: space-between;  
    align-items: center;  
}

.form__buttons > input[type=submit],
.form__buttons > input[type=button],
.form__buttons > button {
    width: 45%;
    border: none;
    border-radius: 5px;    
}

.form__form input[type=button],
.form__buttons > button {
    height: 35px;     
}

.form__form input[type=button]:hover,
.form__buttons > button {
    cursor: pointer;
}

.form__status {
    background-color: salmon;
    margin: 10px 0;
    padding: 5px;
    padding-right: 15px;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    position: relative;
    display: none;
}

.form__status-close {
    background-color: white;
    padding: 0 6px;
    padding-bottom: 1px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 3px;    
}

.form__status-close:hover {
    cursor: pointer;
}

.form > a {
    display: block;
    margin: 8px;
}