.form {
    background-color: lightsteelblue;
    width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

.form > h4 {
    margin: 8px 0;
}

.form__form > input,
.form__form > select {
    border: none;
    width: 100%;
    height: 25px;
    margin: 3px 0;
    padding: 2px;
    border-radius: 5px;
}

.form__form > label {
    display: block;
}

.form__form > select {
    width:70%;
}

.form__form > button {
    width: 27%;
    height: 25px;
    border: none;
    border-radius: 4px;
}

.form__form input[type=submit],
.form__buttons > button:first-child {
    background-color: blue;
    color: white;
    height: 35px;
    font-size: 12pt;
    /* margin-top: 10px; */
}

/* submit sin boton 'cancelar' al costado */
.form__form > input[type=submit] {
    margin-top: 10px;
}

.form__form input[type=submit]:hover {
    cursor: pointer;
}

/* width 100% */
.form__buttons {
    /* background-color: silver; */
    /* height: 50px; */
    margin-top: 10px;
    display: flex;
    justify-content: space-between;  
    align-items: center;  
}

.form__buttons > [type=submit],
.form__buttons > [type=button],
.form__buttons > button {
    width: 45%;
    border: none;
    border-radius: 5px;    
}

.form__form input[type=button],
.form__buttons > button {
    height: 35px;     
}

.form__form input[type=button]:hover,
.form__buttons > button {
    cursor: pointer;
}

.form__status {
    background-color: salmon;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    position: relative;
    display: none;
}

.form__status-close {
    background-color: white;
    padding: 0 6px;
    padding-bottom: 1px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 3px;    
}

.form__status-close:hover {
    cursor: pointer;
}

.form > a {
    display: block;
    margin: 8px;
}