/* @font-face {
    font-family: 'Roboto';
    src: 'src/font/Roboto-Regular.ttf'; /* format('truetype');*/
/*} */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    /* font-family: 'Roboto', Arial, Helvetica, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

header {
    background-color: lightblue;  
    width: 100%;
    /* height: 60px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 10px 0; */
}

header > nav > a {
    background-color: dodgerblue;
    color: black;
    text-decoration: none;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
}

header a:hover {
    cursor: pointer;
}

.btn-menu {
    display: none !important;
}

.btn-menu:hover {
    cursor: pointer;
}

.menu-hidden {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.menu-aside {
    background-color: lightblue;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 160px;
    margin-right: -160px; /* esconder a la derecha */ 
    transition: margin 0.5s;    
}

.btn-menu-close {
    position: relative;
    top: 12px;
    right: -110px;       
}

.btn-menu-close:hover {
    cursor: pointer;
}

.menu-list {
    /* background-color: silver; */
    margin-top: 60px;
    list-style: none; /* no viñet */
    padding: 10px;
}

.menu-list > li {
    /* background-color: red;
    border: 1px solid; */
    margin-top: 5px;
}

.menu-list a {
    background-color: dodgerblue;
    color: black;
    text-decoration: none; /* no-viñets */
    display: block; /* width 100% */
    padding: 5px;
    border-radius: 5px;
}

main {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 20px 0;
}

.screen-shot {
    width: 600px;
    margin-top: 20px;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

footer {
    background-color: dodgerblue;
    width: 100%;
}

footer > section {
    /* border: 1px solid white; */
    display: flex;
}

footer > section > div {
    /* border: 1px solid; */
    width: 50%; 
    height: 60px;
}

footer > section > div > div,
footer nav {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav {
    margin: 6px 0;
}

footer a {
    text-decoration: none;
}

footer nav > a {
    background-color: gainsboro;
    padding: 2px;
    margin: 0 3px;
    border-radius: 3px;
}

.contact-social {
    margin: 3px 8px;
}

footer > p {
    text-align: center;
    font-size: 9pt;
}

a.active {
    background-color: blue;
    color: white;
}

@media screen and (max-width: 640px) {
    .navMain {
        display: none;
    }

    /* menu burguer */
    .btn-menu {
        display: block !important;
    }

    .screen-shot {
        width: 300px;
    }

    footer > section {
        flex-direction: column;
    }

    footer > section > div,
    footer nav {
        width: 100%;
    }
}